{% extends "base.html" %}
{% block content %}
  <h1>{{ anime.title }}
  <br>
  <a href="{% url 'media:anime-update' anime.id %}" class="btn btn-info">Update</a>
  <a href="{% url 'media:anime-delete' anime.id %}" class="btn btn-danger">Delete</a>
  </h1>
  <p>Year of release: {{ anime.year_released }}</p>
  <p>Rate: {{ anime.avg_rate }}</p>
  <p>Genres:
    {% for genre in anime.genre.all %}
      {{ genre }}
    {% endfor %}
  </p>
  <p>Seasons: {{ anime.seasons }}</p>
  <p>Episodes: {{ anime.episodes }}</p>
  <p>Description:
    {% if anime.description %}
      {{ anime.description }}</p>
    {% else %}
      No description
    {% endif %}
  
{% endblock %}
