{% extends "base.html" %}
{% load query_transform %}
{% block content %}
  <h1>Movies</h1>
  <form method="get" action="">
    {{ search_form.as_p }}
    <details>
    <summary>Filter by Genre</summary>
    <div style="column-count: 5">
      {{ filter_form.as_p }}
    </div>
    </details>
    <input type="submit" value="🔍" class="btn btn-secondary">
  </form>
  <table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Genres
    </th>
    <th>
      Year of release
    </th>
    <th>
      Add/Delete
    </th>
  </tr>
  {% if movie_list %}
    {% for movie in movie_list %}
      <tr>
        <th>
          <a href="{% url 'media:movie-detail' movie.id %}">{{ movie.title }}</a>
        </th>
        <th>
          {% for genre in movie.genre.all  %}
          {{ genre }}
          {% empty %}
          {% endfor %}
        </th>
        <th>
          {{ movie.year_released }}
        </th>
        <th>
          {% if movie in user.movies.all %}
            <a href="{% url 'media:movie-add' movie.id %}">Remove from list</a>
          {% else %}
            <a href="{% url 'media:movie-add' movie.id %}">Add to list</a>
          {% endif %}
        </th>
      </tr>
    {% endfor %}
  {% endif %}
  </table>
{% endblock %}

