{% extends "base.html" %}
{% block content %}
  <h1>Anime
    <a href="{% url 'media:anime-list' %}" class="btn btn-secondary">Add new anime</a>
  </h1>
  <form method="get" action="">
    {{ search_form.as_p }}
    <label for="{{ show_only_form.show_only.id_for_label }}">Show only</label>
    {{ show_only_form.show_only }}
    <input type="submit" value="🔍" class="btn btn-secondary">
  </form>
  <table class="media-table">
    <tr class="media-table-header">
      <th>
        Title
      </th>
      <th>
        Rate
      </th>
      <th>
        Status
      </th>
      <th>
        Comment
      </th>
      <th>
        Update
      </th>
      <th>
        Remove
      </th>
    </tr>
    {% if useranimedata_list %}
      {% for anime_data in useranimedata_list %}
        <tr>
          <th>
            <a href="{% url 'media:anime-detail' anime_data.anime.id %}">{{ anime_data.anime.title }}</a>
          </th>
          <th>
            {% if anime_data.rate %}
              {{ anime_data.rate }}
            {% endif %}
          </th>
          <th>
            {{ anime_data.get_status_display }}
          </th>
          <th>
            {% if anime_data.comment %}{{ anime_data.comment }}{% else %}{% endif %}
          </th>
          <th>
            <a href="{% url 'media:user-anime-data-update' anime_data.anime.id %}">Update</a>
          </th>
          <th>
            <a href="{% url 'media:anime-add' anime_data.anime.id %}">Remove</a>
          </th>
        </tr>
      {% endfor %}
    {% endif %}
  </table>
{% endblock %}